<div class="alert alert-success">
    <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>
    <span>{{.Message}}</span>
</div>
<div class="auth-footer" style="margin-top:8px;">
    <a href="/login" class="btn btn-primary" style="width:100%;justify-content:center;">
        {{if .T}}{{.T.Tr "btn_go_to_login"}}{{else}}Go to Login{{end}}
    </a>
</div>
