<div class="alert alert-success">
    <svg fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"/></svg>
    <div>
        <div>{{.Message}}</div>
        <div class="form-hint" style="margin-top:6px;">{{if .T}}{{.T.Tr "forgot_password_check_email"}}{{else}}Please check your email for the password reset link{{end}}</div>
    </div>
</div>
<div class="auth-footer">
    <a href="/login">{{if .T}}{{.T.Tr "btn_back_to_login"}}{{else}}Back to Login{{end}}</a>
</div>
